@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

$dark-grayish-blue: hsl(217, 19%, 35%);
$dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

$font-size: 13px;
$font-family: "Manrope";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h4 {
  color: $dark-grayish-blue;
}

body {
  font-family: $font-family, sans-serif;
  font-size: $font-size;
  color: $dark-blue;
  height: 100vh;
  overflow: hidden;
  background: $light-grayish-blue;
  display: grid;
  grid-template-rows: 95% 5%;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  width: 90%;
  max-width: 800px;
  // height: 550px;
  margin: 2rem auto;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  // overflow: hidden;
}

article {
  display: grid;
  // grid-template-rows: 40% 60%;
  grid-template-rows: 223px auto;
  position: relative;

  .article-img {
    overflow: hidden;
    border-radius: 15px 15px 0 0;

    img {
      width: 100%;
      // height: 100%;
      // object-fit: cover;
      // object-position: center center;
    }
  }

  .article-body {
    padding: 2.2rem 2rem 1.8rem;

    h1 {
      font-size: 17px;
      margin-bottom: 1rem;
    }

    p {
      font-size: 13.8px;
      line-height: 1.6;
    }
  }

  .article-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    animation: fadeIn 0.3s ease-in-out;

    .credits {
      display: flex;
      align-items: center;

      .credits-img {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .credits-text {
        margin-left: 1rem;

        .name {
          font-size: 14px;
          font-weight: 700;
          margin-bottom: 0.2rem;
        }
        .date {
          color: $grayish-blue;
        }
      }
    }
  }
}

.share-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: $light-grayish-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

// .share-btn:hover {
//   background: $dark-grayish-blue;
//   .share-icon-path {
//     fill: white;
//   }
// }

.share-btn.active {
  background: $dark-blue;
  .share-icon-path {
    fill: white;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.active-footer {
  animation: fadeIn 0.3s ease-in-out;
  border-radius: 0 0 15px 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;

  .tooltip {
    background: $dark-grayish-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;

    span {
      letter-spacing: 5px;
      text-transform: uppercase;
      font-size: 13px;
      color: $grayish-blue;
    }

    .social {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        margin-left: 1rem;
      }
    }

    .share-btn {
      background: $dark-blue;

      .share-icon-path {
        fill: white;
      }
    }
  }
}

.hide {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 1rem 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

// Media Queries
@media (min-width: 850px) {
  .container {
    max-width: 880px;
    // height: 300px;
  }
  article {
    grid-template-columns: 337px auto;
    grid-template-rows: 300px;
    // grid-template-columns: 40% 60%;
    // grid-template-rows: 1fr;

    .article-img {
      border-radius: 15px 0 0 15px;
      img {
        height: 100%;
        object-fit: cover;
      }
    }

    .article-body {
      padding: 2.3rem;

      h1 {
        font-size: 21px;
      }

      .article-footer {
        margin-top: 1.5rem;
      }
    }
  }

  .active-footer {
    position: absolute;
    left: 76.3%;
    bottom: 32%;
    // padding: 1rem 1.5rem;
    width: fit-content;
    overflow: visible;

    .share-btn {
      display: none;
    }

    .tooltip {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }

    .tooltip::before {
      content: "";
      position: absolute;
      bottom: -30%;
      left: 50%;
      transform: translateY(-50%) rotate(45deg);
      width: 20px;
      height: 20px;
      background: $dark-grayish-blue;
      // z-index: -1;
    }
  }
}
